.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.item-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-card.clickable {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.item-card.clickable:hover {
    transform: scale(1.02);
    background-color: #f9f9f9;
}

.item-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.item-description {
    color: #555;
    font-size: 0.95rem;
    margin-top: 10px;
}

.items-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.items-header {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
}

.add-item-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-item-button:hover {
    background-color: #218838;
}

.logout-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #218838;
}

